.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#board,
#board-finished {
  display: flex;
  flex-direction: column;
}

#board-finished .btn {
  background-color: #95241c;
  color: white;
}

.btn-row {
  display: flex;
  flex-direction: row;
}

.btn {
  height: 12vh;
  width: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e68983;
  border: 2px solid white;
  font-size: 2rem;
}

#blank-btn {
  background-color: white !important;
}
